body {  
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #fff;
  height: 80%;
}

h1, h2 {
  color: #fff;
  margin-bottom: 20px;
}

#main {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.btn {
  margin: 5px;
}

.contentContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-top: 100px;
  padding-bottom: 150px;
  position: absolute;
  top: 0;
}

.contentContainer h1 {
  text-align: center;
}

a {
  cursor: pointer;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

/*-------------- NAV BAR ---------------*/

#header {
  width:100%;
  border-color: solid black !important;
}

nav ul {
  /*width: 500px;*/
  float: right;
  /*margin: 0 auto;*/
  margin-right: 20px;
}

nav ul li {
  margin-top: 20px;
  margin-left: 25px;
  border-top: 1px solid #fff;
  list-style-type: none;
  height: 50px;
  /*padding: 0px 15px 15px 15px;*/
  font-size: 14px;
  font-family: arial;
  line-height: 20px;
  display: inline-block;
  width: 150px;
  /*margin-left: 10px;*/
}

nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  color: #0062FF;
}

.footer {
  position: relative;
  z-index: 80000000000000;
}


/*-------- NAVBAR LOGO --------*/

.wordmarkContainer {
  position: absolute;
  font-size: 25px;
  font-weight: lighter;
  height: 40px;
  width: 125px;
  background: rgba(0, 0, 0, 0.7); 
  border-radius: 0 5px 5px 0;
  background-opacity: .7;
  margin-top: 200px;
  left: 0;
  padding-top: 10px;
  text-align: center;
  color: #fff;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.wordmarkContainer:hover {
  color:#0062FF;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.logoContainer {
  position: relative;
  height: 75px;
  width: 75px;
}

.logoContainer img {
  height: 75px;
  width: 75px;
  position: absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.logoContainer img.top {
  opacity: 0;
}

.logoContainer img.top:hover {
  opacity: 1;
}


/*--------- SLIDEOUT MENU ---------*/

#sliderContainer{
  position:absolute;
  top: 300px;
  right:-200px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#sliderContainer:hover{
  right:0;
}

#hidden{
  height:200px;
  width:200px;
  background: rgba(0, 0, 0, 0.7); 
  float:right;    
  padding: 10px 10px 10px 0;
  overflow: scroll;
  border-radius: 0 0 0 10px;
}

#hidden li{
  list-style: none;
  border-bottom: dotted #fff 1px;
}

#shown{
  height:140px;
  width:30px;
  border-radius: 10px 0 0 10px;
  background: rgba(0, 0, 0, 0.7); 
  float:right;
}

#sliderTitle{
  text-align: center;
  width: 130px;
  height:135px;
  vertical-align: middle;
  display: inline-block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
}

/*---------- LOGIN PAGE ----------*/

.loginContainer {
  width: 500px;
  margin: 150px auto 0 auto;
}


/*---------- SPLASH PAGE ----------*/

#homeBg {
  position: fixed; 
  top: 0; 
  left: 0; 
  max-height: 100%; 
  max-width: 100%;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -999999;

}

.homeContainer {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  margin-bottom: -20px;
  /*background-image: url(../images/stars.jpg);*/
}

.home {
  color: #fff;
  font-size: 16px;
  width: 450px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.home h1 {
  font-size: 45px;
}

.home h2 {
  font-size: 30px;
}

.home p {
  margin-top: 10px;
  text-align: left;
}

.home button {
  margin-top: 20px;
}

/*Mood Page*/

#moodContainer {
  height: 100%;
  margin-bottom: 150px;
}

.footerSpacer {
  height: 150px;
  width: 100%;
  bottom: 0;
}



/*---------- PROFILE PAGE ----------*/

.profileContainer {
  width: 100%;
}

.profileContainer h2 {
  text-align: center;
}

.profileContent {
  width: 800px;
  margin: 0 auto;
}

.profPicHolder {
  height: 200px;
  width: 200px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  display: block;
  box-shadow: 0px 0px 49px -1px rgba(0,0,0,0.8);
}

.likePicContainer{
  width: 775px;
  margin: 0 auto;
  text-align: center;
}

.likePicContainer .like {
  float: left;
  /*border: 1px solid gray;*/
  margin: 20px;
  width: 150px;
  height: 220px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 5px 5px 40px 5px #0D0D0D;
  box-shadow: 0px 0px 49px -1px rgba(0,0,0,0.8);
  -webkit-transition: margin .5s ease-in-out;
  -moz-transition: margin .5s ease-in-out;
  -o-transition: margin .5s ease-in-out;
  transition: margin .5s ease-in-out;
  overflow: auto;
  text-align: center;
  display: inline-block;
}
.likePicContainer .like img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.title {
  font-weight: lighter;
  text-align: center;
  width: 150px;
  margin-top: -20px;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  overflow: auto;
  padding-top: 7px;
  height: 50px;
}

.likePicContainer .like a {
  text-align: center;
  color: #fff;
}

.likePicContainer .like a:hover {
  color: #0062FF;
}

#likePlay {
  position: relative;
  z-index: 1000000000000000;
  margin: 5px auto;
  text-align: center;
  display: block;
}


/*--------- MOOD PAGE ----------*/

.moodPicContainer{
  width: 1020px;
  margin: 0 auto;
}

.moodPicContainer .mood {
  float: left;
  /*border: 1px solid gray;*/
  margin: 20px;
  padding: 6px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2); 
  -webkit-box-shadow: 5px 5px 40px 5px #0D0D0D;
  box-shadow: 0px 0px 49px -1px rgba(255,255,255,255.75);
  -webkit-transition: margin .5s ease-in-out;
  -moz-transition: margin .5s ease-in-out;
  -o-transition: margin .5s ease-in-out;
  transition: margin .5s ease-in-out;
}
.moodPicContainer .mood img {
  width: 125px;
  height: 125px;
  display: block;
  margin: 0 auto;
}

.name {
  font-weight: lighter;
  text-align: center;
  margin-top: -20px;
  border-radius: 5px;
}

.moodPicContainer .mood a {
  text-align: center;
  color: #fff;
}

.moodPicContainer .mood:hover {
  margin-top: 10px;
  -webkit-transition: margin-top .5s ease-in-out;
  -moz-transition: margin-top .5s ease-in-out;
  -o-transition: margin-top .5s ease-in-out;
  transition: margin-top .5s ease-in-out;
}

.moodPicContainer .mood a:hover {
  color: #0062FF;
}


/*--------- PLAYLIST PAGE  ---------*/

#clearBtn {
  position: absolute;
  z-index: 1000000000000000;
}

.playlistContainer {
  width: 700px;
  margin: 0 auto 50px auto;
  border-bottom: dotted #fff 1px;
}

.playlistContainer h1 {
  text-align: center;
}

.playlistContainer a {
  color: #fff;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.playlistContainer a:hover {
  color: #0062FF;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.playlistContainer img {
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 20px;
}

/*----------- INDIVIDUAL PLAYLIST BY PODCAST TITLE -----------*/

.indPlaylistHolder {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.indPlaylistHolder img {
  border-radius: 20px;
  display: block;
  margin: 0 auto 30px auto;
}

.indPlaylist {
  background: rgba(0,0,0,.3);
  border-radius: 20px;
  margin: 20px;
  padding: 5px;
}


/*--------- FOR THE MUSIC PLAYER ----------*/

#musicPlayer {
  color: #666;
  background-color:#eee;
  border-radius: 0px;
  /*border: 1px solid black;*/
  padding:10px;
  height: 165px;
  font-family:helvetica, arial, verdana;
  font-weight:lighter;
  width:100%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 0px 4px 17px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 17px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 17px 5px rgba(0,0,0,0.75);
}




#musicPlayer .loader {
  border:1px solid #fff;
  height:3px;
  margin:10px 0px
}

#musicPlayer .load-progress {
  width:0px;
  background-color:#0062FF;
  height:3px;
}

#musicPlayer .play-progress {
  width:0px;
  background-color:#0062FF;
  height:3px;
}

#musicPlayer .controls {
  text-align:center;
}

#musicPlayer .controls a {
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 14px;
  overflow:hidden;
  border-radius: 50%;
}

#musicPlayer .controls .prev {
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 14px;
  overflow:hidden;
  background-image:url('../images/back.png');
  background-repeat:no-repeat;
  opacity: 1;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#musicPlayer .controls .prev:hover {
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#musicPlayer .controls .next {
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 14px;
  overflow:hidden;
  background-image:url('../images/next.png');
  background-repeat:no-repeat;
  opacity: 1;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#musicPlayer .controls .next:hover {
  opacity: .5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

#musicPlayer .controls .pause {
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 14px;
  overflow:hidden;
  background-image:url('../images/pause.png');
  background-repeat:no-repeat;
  background-color: #ccc;
  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

#musicPlayer .controls .pause:hover {
  background-color:#666;
  transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
}

#musicPlayer .controls .play {
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 14px;
  overflow:hidden;
  background-image:url('../images/play.png');
  background-repeat:no-repeat;
  background-color: #ccc;
  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

#musicPlayer .controls .play:hover {
  background-color:#666;
  transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
}

#musicPlayer .controls a span {
  display:none;
}

#musicPlayer .controls a.prev {
  background-position:top -60px;
}

#musicPlayer .controls a.next {
  background-position:top -90px;
}

#musicPlayer .controls a.play {
  background-position:top left;
}

#musicPlayer .controls a.pause {
  background-position:top -30px;
}