body {  
  font-family: 'Roboto', sans-serif;  
}

/*Nav Bar*/

#header {
  width:100%;
  border-color: solid black !important;
}

nav ul {
  /*width: 500px;*/
  float: right;
  /*margin: 0 auto;*/
  margin-right: 20px;
}

nav ul li {
  margin-top: 15px;
  margin-left: 25px;
  border-top: 1px solid #aeaeae;
  list-style-type: none;
  height: 50px;
  /*padding: 0px 15px 15px 15px;*/
  font-size: 14px;
  font-family: arial;
  line-height: 20px;
  display: inline-block;
  width: 125px;
  /*margin-left: 10px;*/
}

nav ul li a {
  color: #fff;
}

nav ul li a:hover {
  color: #337ab7;
}


/*navbar logo*/

.logoContainer {
  position: relative;
  height: 75px;
  width: 75px;
}

.logoContainer img {
  height: 75px;
  width: 75px;
  position: absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.logoContainer img.top {
  opacity: 0;
}

.logoContainer img.top:hover {
  opacity: 1;
}

/*for splash page*/

#homeBg {
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -999999;
}

.homeContainer {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  margin-bottom: -20px;
  /*background-image: url(../images/stars.jpg);*/
}

.home {
  color: #fff;
  font-size: 16px;
  width: 450px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}

.home h1 {
  font-size: 45px;
}

.home h2 {
  font-size: 30px;
}

.home p {
  margin-top: 10px;
  text-align: left;
}

.home button {
  margin-top: 20px;
}


/*FOR THE MUSIC PLAYER*/
#musicPlayer {
  background-color:#eee;
  border-radius: 0px;
  border: 1px solid black;
  padding:10px;
  font-family:helvetica, arial, verdana;
  font-weight:bold;
  width:100%;
  margin: 0 auto;
  text-align: center;
}
#musicPlayer .loader {
  border:1px solid #fff;
  height:3px;
  margin:10px 0px
}
#musicPlayer .load-progress {
  width:0px;
  background-color:#fff;
  height:3px;
}
#musicPlayer .play-progress {
  width:0px;
  background-color:#fff;
  height:3px;
}

#musicPlayer .controls {
  text-align:center;
}

#musicPlayer .controls a {
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 14px;
  overflow:hidden;
  border-radius: 5px;
}

#musicPlayer .controls .prev {
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 14px;
  overflow:hidden;
  background-image:url('../images/back.png');
  background-repeat:no-repeat;
}

#musicPlayer .controls .next {
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 14px;
  overflow:hidden;
  background-image:url('../images/next.png');
  background-repeat:no-repeat;
}

#musicPlayer .controls .pause {
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 14px;
  overflow:hidden;
  background-image:url('../images/pause.png');
  background-repeat:no-repeat;
}

#musicPlayer .controls .play {
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 14px;
  overflow:hidden;
  background-image:url('../images/play.png');
  background-repeat:no-repeat;
}

#musicPlayer .controls a:hover {
  background-color:#ccc;
}

#musicPlayer .controls a span {
  display:none;
}

#musicPlayer .controls a.prev {
  background-position:top -60px;
}
#musicPlayer .controls a.next {
  background-position:top -90px;
}
#musicPlayer .controls a.play {
  background-position:top left;
}
#musicPlayer .controls a.pause {
  background-position:top -30px;
}